@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}


<div class="container">


    <!-- Overlay effect when opening sidebar on small screens -->
    <!-- Header -->
    <header id="Ser">
        <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
        <div class="w3-container">
            <h1><b>Our Services</b></h1>
            <p>You will always receive the highest level of care every step of the way from your personal dental team. Your team starts with your general dentist, a hygienist, and support staff. These are the same friendly faces you'll see with each visit you make to Dental Associates. Should you need more complex dental services, our specialists are available to join your team within our clinics... without a referral across town./p>

    </header>
</div>
<BR /><BR />

<!-- First Photo Grid-->
<div class="w3-row-padding">
    <center>
        <div class="w3-third w3-container w3-margin-bottom">
            <img src="../images/dental1.jpg" alt="General Services" style="width:70%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p><b>General Services</b></p>
                <p>
                    Dental Cleaning<br />
                    Flouride Treatment<br />
                    Tooth Filling
                </p>
            </div>
        </div>
        <div class="w3-third w3-container w3-margin-bottom">
            <img src="../images/dental2.jpg" alt="Pediatric Dentistry" style="width:70%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p><b>Pediatric Dentistry</b></p>
                <p>
                    The First Appointment<br />
                    Ouchy Tooth<br />
                    Special Needs Dentistry
                </p>
            </div>
        </div>
        <div class="w3-third w3-container">
            <img src="../images/dental1.5.jpg" alt="Cosmetic Dentistry" style="width:70%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p><b>Cosmetic Dentistry</b></p>
                <p>
                    Gingivoplasty<br />
                    Veneers<br />
                    Teeth Whitening<br />
                    Dental Crowns
                </p>
            </div>
        </div>
</div>

<!-- Second Photo Grid-->
<div class="w3-row-padding">
    <center>
        <div class="w3-third w3-container w3-margin-bottom">
            <img src="../images/dental4.jpg" alt="Missing A Tooth?" style="width:70%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p><b>Missing A Tooth?</b></p>
                <p>
                    Dental Implants<br />
                    Fixed Bridge<br />
                    Dentures
                </p>
            </div>
        </div>
        <div class="w3-third w3-container w3-margin-bottom">
            <img src="../images/dental5.jpg" alt="Straighten Your Teeth" style="width:70%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p><b>Straighten Your Teeth</b></p>
                <p>
                    Ceramic Braces<br />
                    Traditional Metal Braces<br />
                    Invisalign
                </p>
            </div>
        </div>
        <div class="w3-third w3-container">
            <img src="../images/dental6.jpg" alt="In Pain?" style="width:70%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p><b>In Pain?</b></p>
                <p>
                    Root Canal Treatment<br />
                    Wisdom Tooth Removal<br />
                    Tooth Extraction
                </p>
            </div>
        </div>
</div>
